// Blog

.blog-item {
  position: relative;
  .Blog-image {
    overflow: hidden;
    img {
      transition: transform 0.3s ease;
    }
    &:hover img {
      transform: scale(1.2);
    }
  }

  .Blog-body {
    padding: 0 10px;
    background: #fff;
    position: absolute;
    top: 290px;
    border-radius: 2px;
  }
}
// Blog
