footer {
  background: #f6f6f8;
  @include padding(top, 50px);
  @include padding(bottom, 80px);
  @include margin(top, 50px);
  .footer-widget {
    button {
      padding-top: 20px;
      border: none;
      outline: none;
      background: transparent;
      border-bottom: 2px solid #555555;
    }
    h3 {
      font-size: 1rem;
    }

    input {
      border: none;
      outline: none;
      background: transparent;
      border-bottom: 2px dotted #555555;
      padding-right: 50px;
      ::placeholder {
        font-size: 0.5rem;
      }
    }
    ul {
      padding-left: 0px;
      li {
        list-style: none;
        a {
          font-size: 0.875rem;
          text-decoration: none;
          color: #555555;
          &:hover {
            color: #a749ff;
          }
        }
      }
    }
  }
}
